body{
    background-color: #FAA916;
}

header{
    padding: 5px;
    background-color: #FAA916;
}

h1{
    font-family: "Ewert", serif;
    font-size: 8em;
    color: #eb3700;
    text-align: center;
}

h2{
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 80px;
    font-family: "Rye", serif;
    color: #FAA916;
    text-align: center;
    padding: 20px;
}

h3{
    font-size: 80px;
    font-family: "Ewert", serif;
    color: #FAA916;
    text-align: center;
}

.navegacao {
    padding: 2%;
    background-color: #b92b12;
    text-align: center;
}

.navegacao a{
    font-size: 30px;
    padding: 4px;
    color: #FAA916;
}

section{
    background-color: #fa3816;
    border-radius: 8px;
    text-align: center;
}

#taco, #burrito, #sobremesa, #bebida{
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 25em;
  border-radius: 8px;
}

.item h4 {
  margin-top: 8px;
  text-align: center;
  font-size: 1.5rem;
}

/*
#cardapio ul{
    border-radius: 8px;
    background-color: #FAA916;
    display: flex;
    justify-content: space-between;
}

#cardapio ul li{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: #b92b12;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
*/

footer{
    text-align: center;
    font-size: 10px;
}

p{
    font-size: 30px;
    color: #5c1407;
    margin: 10px;
    padding: 10px;
    height: 70%;
}