*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: chocolate;
    height: 200px;
    text-align: center;
}

h1{
    line-height: 200px;
}

nav{
    display: flex;
    justify-content: center;
}

footer{
    background-color: chocolate;
    height: 100px;
    text-align: center;
}

h5{
    line-height: 100px;
}