*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section ul{
    list-style-type: none;
    font-size: 20px;
}
body{
    background-color: white;
    font-family: 'Roboto';
    color: #0D0D0D;
}

header{
    background-image: url(..//img/desenho.png);
    background-size: 1910px 400px;
    background-position: top;
    height: 400px;
    background-attachment: fixed;
}

nav{
    text-align: center;
    background-color: #0D0D0D;
    padding: 25px;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav a{
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover{
    font-size: 25px;
    transition: 0.3s;
}

section{
    background-color: #0678BF;
    margin: 10px;
    margin: 5%;
    border-radius: 8px 8px 1px 1px;
}

article{
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #04588C;
}

h2{
    padding: 10px;
    font-size: 35px;
}


h3{
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

p{
    font-size: 20px;
    text-align: left;
}

.container-principal{
    display: flex;
}

.container-principal img{
    height: 300px;
    margin: 5px 0px 5px 0px;
}

.conteudo-principal{
    width: 100%;
}

.produtos h2{
    margin-top: 20px;
    text-align: center;
}

.lista-produtos{
    display: flex;
}

.secao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.caixa{
    width: 220px;
    padding: 20px;
    margin: 5px;
    text-align: left;
}

.caixa img{
    width: 100%;
    border-radius: 100px;
}

.caixa img:hover{
    width: 90%;
    border-radius: 100px;
    transition: 0.3s;
}

.conteudo-principal-contato h2{
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: center;
}

.container-contato{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.caixa-contato{
    width: 300px;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}

.caixa-contato img{
    width: 40px;
}

.formulario h2{
    text-align: center;
    padding: 20px;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label{
    font-size:30px;
}

input,
textarea {
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0077cc;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005fa3;
}

.rodape{
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 20px;
}